.news {
  .navs-news {
    text-align: center;
    margin-bottom: 45px;
  }
  .d-nav {
    > ul {
      > li {
        position: relative;
        display: inline-block;
        &:not(:last-child) {
          margin-right: 3px;
        }
        &::before,
        &::after {
          position: absolute;
          content: "";
          background-color: #1d5a88;
          transform: scale(0);
          transition: 0.3s;
        }
        &::before {
          width: 100%;
          height: 1px;
          right: 0;
          top: 0;
        }
        &::after {
          width: 1px;
          height: 100%;
          left: 0;
          bottom: 0;
        }
        > a {
          position: relative;
          display: block;
          color: $c-text;
          font-size: 15px;
          text-transform: uppercase;
          height: 40px;
          line-height: 40px;
          padding: 0 20px;
          font-family: "Oswald";
          transition: 0.3s;
          &::before,
          &::after {
            position: absolute;
            content: "";
            background-color: #1d5a88;
            transform: scale(0);
            transition: 0.3s;
          }
          &::before {
            width: 1px;
            height: 100%;
            right: 0;
            top: 0;
          }
          &::after {
            width: 100%;
            height: 1px;
            left: 0;
            bottom: 0;
          }
        }
        &:hover,
        &.active {
          // .top-left,
          // .right-bottom {
          background-color: transparent;
          color: red;
          &::before,
          &::after {
            transform: scale(1);
          }
          // }
          > a {
            color: #1d5a88;
            &::before,
            &::after {
              transform: scale(1);
            }
          }
        }
      }
    }
  }
  .list-news {
    .item-product {
      margin-bottom: 60px;
      padding-top: 15px;
      .img {
        overflow: hidden;
        margin-bottom: 10px;
        transition: 0.4s;
        height: 230px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: 0.4s ease-in-out;
        }
      }
      .ct {
        .title {
          transition: 0.3s;
          font-weight: 600;
          font-size: 16px;
          margin-bottom: 4px;
          text-transform: uppercase;
          @include set-line(2, 26px);
          font-family: $f2;
          font-weight: 500;
        }
        .desc {
          @include set-line(2, 26px);
          font-family: $f1;
          font-weight: 400;
          font-size: 14px;
        }
        .ctr {
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          padding-bottom: 10px;
          .info {
            flex-grow: 1;
            margin-right: 10px;
          }
        }
      }
      &:hover {
        .img {
          box-shadow: 0 2px 5px 0 rgba(#000, 0.2);
          img {
            transform: scale(1.05) rotate(-1deg);
          }
        }
        .ct {
          .title {
            color: $c1;
          }
          .btn-readmore {
            background-color: $c2;
            border-color: $c2;
          }
        }
      }
    }
    .link {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    .item {
      padding-left: 80px;
      position: relative;

      .date-news-wrap {
        position: absolute;
        top: -8px;
        left: 0;
        .day {
          font-size: 50px;
        }
        .month {
          font-size: 14px;
        }
      }
    }
    nav.page {
      margin: 20px 0 60px 0;
      .pagination {
        .page-item {
          margin-right: 10px;

          &:last-child {
            margin-right: 0px;
          }

          .page-link,
          span {
            background-color: #1d5a88;
            border-color: #1d5a88;
            color: #fff;
          }

          .page-link {
            height: 35px;
            width: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            padding: 10px;
            outline: none;
            border-radius: 0;
          }

          &.active,
          &:hover {
            .page-link,
            span {
              background-color: #a10e0e;
              border-color: #a10e0e;
            }
          }
        }
      }
    }
  }
}

//news detail
.news-detail {
  margin-top: 50px;
  .cas {
    color: #a10e0e;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: $f2;
  }
  .date {
    color: #8d8c8a;
    font-family: $f2;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
    i {
      margin-right: 4px;
    }
  }
  .title {
    font-size: 26px;
    line-height: 36px;
    margin: 10px 0 18px 0;
    font-weight: 500;
    font-family: $f2;
    text-transform: uppercase;
  }
  .social-wrap {
    margin-top: 0;
    ul li {
      margin-left: 10px;
    }
  }
  .date-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    .prd-share {
      .social-wrap {
        .social-facebook {
          margin-top: 4px;
        }
      }
    }
    @media (max-width: 450px) {
      display: block;
      .prd-share {
        margin-top: 10px;
      }
    }
  }
  .news-content {
    p {
      margin-bottom: 35px;
      font-family: $f1;
      font-weight: 300;
      color: #111;
      &:first-child {
        font-weight: 500;
      }
    }
    img {
      width: 100%;
    }
    .bottom {
      margin-bottom: 70px;
      @media (max-width: 991px) {
        margin-bottom: 0;
      }
    }
  }
  .social-facebook iframe {
    height: 30px;
  }
  .item-news-detail-cate {
    position: relative;
    margin-bottom: 17px;
    .img {
      overflow: hidden;
      transition: 0.4s;
      img {
        width: 100%;
        transition: 0.4s ease-in-out;
      }
    }
    .ct {
      margin-top: 15px;
      .time {
        display: flex;
        align-items: center;
        color: $c1;
        margin-bottom: 6px;
        font-size: 14px;
        i {
          margin-right: 6px;
          margin-top: -2px;
        }
      }
      .title {
        @include set-line(3, 22px);
        text-transform: uppercase;
        font-weight: 600;
        transition: 0.3s;
        font-size: 16px;
        margin-bottom: 0px;
      }
    }

    &.v2 {
      display: flex;
      align-items: center;
      .img {
        margin-right: 20px;
        flex: 0 0 142px;
        height: 105px;
      }
      .ct {
        margin-top: 0;
        .time {
          font-size: 12px;
        }
        .title {
          text-transform: initial;
        }
      }
    }
    &:hover {
      .img {
        box-shadow: 0 2px 5px 0 rgba(#000, 0.2);
        img {
          transform: scale(1.05) rotate(-1deg);
        }
      }
      .ct {
        .title {
          color: $c1;
        }
        .btn-readmore {
          background-color: $c2;
          border-color: $c2;
        }
      }
    }
  }
  .sb-page {
    margin-top: 20px;
    .title-sb {
      font-family: $f2;
      color: #1d5a88;
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 15px;
      text-transform: uppercase;
    }
  }
}
@media (max-width: 991px) {
  .group-home {
    padding: 35px 0;
  }
  .news {
    .navs-news {
      margin-bottom: 20px;
    }
    .list-news {
      .item-product {
        margin-bottom: 20px;
        .ct {
          .title {
            font-size: 14px;
          }
          .desc {
            font-size: 12px;
          }
        }
      }

      .item {
        padding-left: 70px;
        position: relative;

        .date-news-wrap {
          position: absolute;
          top: -8px;
          left: 0;
          .day {
            font-size: 40;
          }
        }
      }

      nav.page {
        margin: 0;
      }
    }
  }
  .news-detail {
    .date {
      font-size: 13px;
    }
    .news-content {
      p {
        margin-bottom: 20px;
      }
    }
    .item-news-detail-cate {
      .ct {
        .title {
          font-size: 14px;
        }
      }
    }
  }
}
@media only screen and (min-device-width: 452px) and (max-device-width: 575px) {
  .news {
    .navs-news {
      margin-bottom: 20px;
    }
    .list-news {
      .item-product {
        .ct {
          .title {
            @include set-line(1, 26px);
          }
        }
      }
    }
  }
}
